* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

html body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative;
  height: 100vh;
  width: 100%;
}

.game h1 {
  font-weight: lighter;
  text-align: center;
  padding: 20px 10px;
  width: 100%;
  background-color: green;
}

.board {
  width: 306px;
  background: #f0f0f0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 3px;
  display: grid;
  border: 1px solid black;
  cursor: pointer;
  margin: 50px auto;
}

.box {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #222;
}

.box:hover {
  background-color: grey;
  opacity: 0.6;
}

footer {
  height: 100px;
  width: 100%;
  text-align: center;
  background-color: grey;
}
